<div class = "calender">
    <%= month_calendar events: schedules.each do |date, schedules| %>
        <div class = "date">
            <div class = "table m-4">
                <%= link_to date.day, new_schedule_path(date), class: "date-btn", data:{remote: true}, style: "text-decoration: none; display: block;
    width: 100%; height: 100%;" %>
            </div>
        </div>
        

        <% schedules.each do |schedules| %>
            <% if user_signed_in? && current_user.id == schedules.user_id %>  

            <%= link_to schedules.title, edit_schedule_path(schedules.id), data:{remote:true}, style: "text-decoration: none;" %>

            <%end%>
        <%end%>
        
    <%end%>
</div>