// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
    display: block;
    
}

a:hover{
    opacity: 0.6; /*マウスオーバー時に画像を透過する設定 */
    }

